@use "../common";

header {
  border-bottom: solid 1px var(--border-color);
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--background-color);

  h3 {
    margin: 0px;
    @include common.fontStyle(1.25rem, 700, 1.75rem);
    color: var(--primary-color);
  }
  nav {
    display: var(--nav-display);
    gap: 1.5rem;
  }

  div {
    display: flex;
    align-items: center;

    &.left {
      gap: 2rem;
    }
    &.right {
      gap: 0.5rem;
    }
    &.search {
      display: var(--search-bar-display);
      align-items: stretch;
      gap: 0rem;

      input {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 200px;
        padding: 1rem 0.5rem 1rem 1rem;
        border: none;
        background-color: var(--gary-color-100);

        &:focus {
          outline: none;
        }
      }

      button {
        @include common.buttonStyle;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: var(--gary-color-100);
      }
    }
  }

  button {
    background-color: transparent;
    @include common.buttonStyle;
    color: var(--text-color);
  }
}
