@use "../common";

header {
  border-bottom: solid 1px var(--border-color);
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--background-color);

  h3 {
    margin: 0px;
    @include common.fontStyle(1.25rem, 700, 1.75rem);
    color: var(--primary-color);
  }
}