:root {
  --primary-color: #137fec;
  --second--color: #aa8112;
  --background-color: #f6f7f8;
  --header-color: #111827;
  --text-color: #4b5563;
  --border-color: #e5e7eb;
  --gary-color-100: #f3f4f6;
  --gary-color-500: #6b7280;
  --white-color: #fff;
}
